.webstudio {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding: 24px 0px;
  text-decoration: none;
  text-align: left;
  color: var(--accent-color);
}
.Weblogo {
  color: var(--text-color);
}
.Web_logo_footer {
  color: var(--main-color);
}
